.form-column {
  flex: 1;
  min-width: 100px;
  padding: 1px;
}

.form-group {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 10px;
}

.form-group label {
  margin-bottom: 1px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: fpx;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-right: 10px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
}

.form-actions button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions button:disabled {
  background-color: #ccc;
}

.form-actions button:hover:not(:disabled) {
  background-color: #0056b3;
}

.add-entry-container {
  left: 50%;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 25px;
  width: 480px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
