.search-box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.search-box-main input {
  padding: 13px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.search-box-main button {
  padding: 14px 20px;
  font-size: 1em;
  border: none;
  border-left: none;
  background-color: #ff6c00;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  transition: background-color 1.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.search-box-main button:hover {
  background-color: #e65c00;
}
