.previous-entry-page {
  padding: 20px;
}

.previous-entries-container {
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.entry-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #ccc;
  padding: 1px 0;
}

.entry-container:hover {
  background-color: #bdbdbd;
}

.entry-container:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.entry-container:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.entry-container > div {
  text-align: center;
}

.header-row {
  background-color: #f0f0f0;
  padding: 10px 0;
  font-weight: bold;
}

.header-row:hover {
  background-color: #f0f0f0;
}

.details-button {
  background-color: #404040;
  font-size: 12pt;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
}

.details-button:hover {
  background-color: orangered;
}
